name: ODE

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - '**.tex'
      - '**.bib'
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ODE.tex
          args: -interaction=nonstopmode -file-line-error -pdf

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        with:
          tag_name: latest
          name: ODE
          files: ODE.pdf
          draft: false
          prerelease: false
          make_latest: true

      - name: Clean
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 1
