name: PDF

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - '**.tex'
      - '**.bib'
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ODE.tex
          args: -interaction=nonstopmode -file-line-error -pdf

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        with:
          tag_name: latest
          name: ODE
          files: ODE.pdf
          draft: false
          prerelease: false
          make_latest: true
